*{
    margin: 0;
    padding: 0;
    font-family: roboto mono, raleway;
}
/* html skeleton */
html{
    background: linear-gradient(109.6deg, rgb(17, 151, 147) 11.2%, rgb(154, 214, 212) 55.4%, rgb(255, 233, 171) 100.2%);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}
header{
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 3rem;
    color: white;
    text-shadow: black 0px 0px 10px;
}
main{
display: flex;
justify-content: center;
margin-top: 10vh;
}


/* clock */
.clock{
    border: 10px solid white;
    box-shadow: black 0px 0px 10px;
    height: 50vh;
    width: 50vh;
    border-radius: 360px;
    padding: 20px;
} 
.hand{
    height: 6px;
    width: 24vh;
    padding-right: 1vh;;
    position: absolute;
    top: 55%;
    background-color: rgba(0, 0, 0, 0.667);
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}
.min-hand{
    height: 5px; 
    background-color: rgba(105, 105, 105, 0.781);  
}
.seconds-hand{
 height: 4px; 
 background-color: rgba(255, 0, 0, 0.495);
}
/* am/pm */
.time-of-day{
    color: white;
    text-shadow: black 0px 0px 10px;
    font-size: 2rem;
    font-weight: bold;
    position: relative;
    left: 22vh;
}
